<table class="table table-bordered">
    <thead>
    <th>Họ tên</th>
    <th>Mã sinh viên</th>
    <th>Khoa</th>
    <th>Ngành</th>
    <th>Vnu mail</th>
    <th>Chỉnh sửa thông tin</th>
    </thead>
    <tbody>
   <tr style="height: 100px">
       <td><%= hoten %></td>
       <td><%= masv %></td>
       <td><%= khoa %></td>
       <td><%= nganh %></td>
       <td><%= mail %></td>
       <td>
           <i class="fa fa-pencil-square-o btn btn-info" aria-hidden="true" ></i>
       </td>
   </tr>
    </tbody>
</table>
